body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link{
    color: darkgreen;
}

a:visited{
    color: black;
}

a:hover {
    color: brown;
}

#footer{
    border: solid;
    background-color: black;
    padding: 1%;
    text-align: center;
    color: white;
}

